/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo */
body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #0f0f0f;
    color: #eee;
    display: flex;
}

/* Sidebar */
.sidebar {
    width: 230px;
    background-color: #121212;
    height: 100vh;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
}

.sidebar h2 {
    color: #00ffa6;
    font-size: 20px;
    margin-bottom: 40px;
    line-height: 1.3;
}

.sidebar h2 span {
    color: #fff;
}

.sidebar nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar nav a {
    color: #ccc;
    text-decoration: none;
    transition: 0.3s;
}

.sidebar nav a:hover {
    color: #00ffa6;
}

/* Main Content */
.main-content {
    margin-left: 230px;
    width: calc(100% - 230px);
    padding: 20px 30px;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.logout-btn {
    background: #00ffa6;
    border: none;
    color: #000;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.logout-btn:hover {
    background: #00cc86;
}

/* Cards */
.cards {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.card {
    background-color: #1c1c1c;
    flex: 1;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    color: #999;
    margin-bottom: 10px;
}

.card p {
    font-size: 28px;
    color: #00ffa6;
}

/* Gráfico */
.graph {
    background: #1c1c1c;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 30px;
}

/* Tabela */
.table-section {
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 12px;
}

.table-section h2 {
    margin-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #222;
}

thead th {
    padding: 12px;
    color: #00ffa6;
}

tbody tr {
    border-bottom: 1px solid #333;
}

tbody td {
    padding: 10px;
    color: #ddd;
}

tbody tr:hover {
    background-color: #222;
}

/* Scroll */
table {
    overflow-x: auto;
}

::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 4px;
}

::-webkit-scrollbar-track {
    background-color: #222;
}

/* Responsivo */
@media (max-width: 768px) {
    .cards {
        flex-direction: column;
    }
    .main-content {
        margin-left: 0;
        width: 100%;
    }
    .sidebar {
        display: none;
    }
}
